{% extends 'base_settings.html' %}

{% block title %}Moje Finanse{% endblock %}

{% block style %}

    <!-- Bootstrap core CSS -->
	<link href="/bootstrap-4.0.0-dist/css/bootstrap.css" rel="stylesheet">
	<!-- Report Style CSS -->
	<link href="/css/application_settings_style.css" rel="stylesheet">
	<link href="/bootstrap-4.0.0-dist/css/dashboard.css" rel="stylesheet">
	<!--Dodatkowe Fonty -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<!-- Google Fonts Roboto -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	
	<!-- MDBootstrap Datatables  -->
	<link href="/css/addons/datatables.min.css" rel="stylesheet">
	<!-- MDBootstrap Datatables2  -->
	<link href="/css/addons/datatables2.min.css" rel="stylesheet">

	<!-- Material Design Bootstrap -->
	<link rel="stylesheet" href="/css/mdb.min.css">
	<!-- Your custom styles (optional) -->
	<link rel="stylesheet" href="/css/style.css">

{% endblock %}

{% block body %} 

	<!-- passing option value to JS-->
	<script>
		var $option = {{ option }};
	</script> 


<!-- Finance Manager Content-->
<div class="container-fluid bg pt-5 sticky-top mainWindow">	
	<div class="row d-flex justify-content-center">	
		<!-- Editable table -->
		<div id="settings-panel" class="card mt-3 w-30 w-sm-95">
		  <h3 id="categoriesHeader" class="card-header text-center font-weight-bold text-uppercase py-4">
			{% if option == 1 %}
				Kategorie Przychodów
			{% elseif option == 2 %}
				Kategorie Wydatków
			{% elseif option == 3 %}
				Sposoby Płatności
			{% endif %}			
			
		  </h3>
		  <div class="card-body">
				<div id="feedbackLine" class="row d-flex justify-content-center w-100"><div id="feedback" class="alert text-center" role="alert"></div></div>
				<div id="addButtonLine" class="row d-flex justify-content-end w-100"><span class="table-add float-right"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span></div>
		  
			<div id="table">		  
			  <table class="table table-responsive-md table-striped text-center table-hover">
				<thead>
				  <tr>
					<th class="text-center font-weight-bold">Nazwa</th>
					{% if option == 2 %}
						<th class="text-center font-weight-bold">Maxymalny Limit</th>
					{% endif %}					
					<th></th>
					<th></th>
				  </tr>
				</thead>
				
				<tbody>				
					{% for category in categories %}
					  <tr>
						{% if option != 3 %}
						<td class="pt-3-half" contenteditable="true">{{category.name}}</td>
						{% endif %}
						{% if option == 3 %}
						<td class="pt-3-half" contenteditable="true">{{category.pay_method_name}}</td>
						{% endif %}	
						{% if option == 2 %}
							<td class="pt-3-half" contenteditable="true">{{category.max}}</td>
						{% endif %}	
						
						<td class="pt-3-half">
						  <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
								aria-hidden="true"></i></a></span>
						  <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
								aria-hidden="true"></i></a></span>
						</td>
						<td>
						  <span class="table-remove"><button type="button"
							  class="btn btn-danger btn-rounded btn-sm my-0">Usuń</button></span>
						</td>
					  </tr>
					{% endfor %}


				</tbody>
			  </table>
			</div>
		  </div>
		</div>
		<!-- Editable table -->
	</div>
	
</div><!-- /.container-fluid-->

	
	<!-- jQuery -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/js/mdb.min.js"></script>
	<!-- Your custom scripts (optional) -->
	<script type="text/javascript"></script>
	<!-- MDBootstrap Datatables  -->
	<script type="text/javascript" src="/js/addons/datatables.min.js"></script>
	<!-- MDBootstrap Datatables2  -->
	<script type="text/javascript" src="/js/addons/datatables2.min.js"></script>
	

	<!-- Script for Categories Table  -->
	<script type="text/javascript" src="/js/categoriesTable.js" charset="utf-8"></script>

	
	
	

	
	<!-- feather icons  -->
	<script>feather.replace()</script>
	<!-- End of feather icons  -->
{% endblock %}
