{% extends 'base_report.html' %}

{% block title %}Moje Finanse{% endblock %}

{% block style %}

    <!-- Bootstrap core CSS -->
	<link href="/bootstrap-4.0.0-dist/css/bootstrap.css" rel="stylesheet">
	<!-- Report Style CSS -->
	<link href="/css/report_style.css" rel="stylesheet">
	<link href="/bootstrap-4.0.0-dist/css/dashboard.css" rel="stylesheet">
	<!--Dodatkowe Fonty -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<!-- Google Fonts Roboto -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<!-- Bootstrap core CSS -->
	<!--<link rel="stylesheet" href="/css/bootstrap.min.css"> -->
	<!-- MDBootstrap Datatables  -->
	<link href="/css/addons/datatables2.min.css" rel="stylesheet">

	<!-- Material Design Bootstrap -->
	<link rel="stylesheet" href="/css/mdb.min.css">
	<!-- Your custom styles (optional) -->
	<link rel="stylesheet" href="/css/style.css">

{% endblock %}

{% block body %}  

<!-- Show Incomes script-->
	<script type="text/javascript">
    function showIncome() {
		$(document).ready($('#modalIncome').modal('show'));	
    }
	</script>
<!-- End of Show Incomes script-->

<!-- Show Expences script-->
	<script type="text/javascript">
    function showExpence() {
		$(document).ready($('#modalExpence').modal('show'));	
    }
	</script>
<!-- End of Show Expences script-->


<!-- Finance Manager Content-->
<div class="container-fluid bg pt-0">
	
	<div class="row d-flex justify-content-center">
		<!-- Editable table -->
		<div class="card mt-4 w-50">
		  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Kategorie Przychodów</h3>
		  <div class="card-body">
			<div id="table" class="table-editable">
				<div class="row d-flex justify-content-center">
				  <div class="col-8"><div id="feedback" class="alert text-center" role="alert"></div></div>
				  <div class="col-2"><span class="table-add float-right"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span></div>
				</div>			  
			  <table class="table table-bordered table-responsive-md table-striped text-center">
				<thead>
				  <tr>
					<th class="text-center">Kategoria</th>
					<th class="text-center">Maxymalny Limit</th>
				  </tr>
				</thead>
				<tbody>
				
					{% for category in incomeCategories %}
					  <tr>
						<td class="pt-3-half" contenteditable="true">{{category.name}}</td>
						<td class="pt-3-half" contenteditable="true">{{category.max}}</td>
						<td class="pt-3-half">
						  <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
								aria-hidden="true"></i></a></span>
						  <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
								aria-hidden="true"></i></a></span>
						</td>
						<td>
						  <span class="table-remove"><button type="button"
							  class="btn btn-danger btn-rounded btn-sm my-0">Usuń</button></span>
						</td>
					  </tr>
					{% endfor %}

						<div id="wynik"></div>
				</tbody>
			  </table>
			</div>
		  </div>
		</div>
		<!-- Editable table -->
	</div>
	
</div><!-- /.container-fluid-->

	

	
	<!-- jQuery -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/js/mdb.min.js"></script>
	<!-- Your custom scripts (optional) -->
	<script type="text/javascript"></script>

	<!-- MDBootstrap Datatables  -->
	<script type="text/javascript" src="/js/addons/datatables2.min.js"></script>


	<script>
		const $tableID = $('#table');
		const $BTN = $('#przycisk');
		const $EXPORT = $('#export');

		const $newCategory = `
		<tr>
					<td class="pt-3-half" contenteditable="true">Nowa Kategoria</td>
					<td class="pt-3-half" contenteditable="true">1000</td>
					<td class="pt-3-half">
					  <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
							aria-hidden="true"></i></a></span>
					  <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
							aria-hidden="true"></i></a></span>
					</td>
					<td>
					  <span class="table-remove"><button type="button"
						  class="btn btn-danger btn-rounded btn-sm my-0">Usuń</button></span>
					</td>
		</tr>`;
		


		
		var newCategory = $tableID.find('tr:last td:first').text();
		var activeCellContent;		
		//var $contents = $('#table table tbody tr:last td:first').html();

		//dodawanie nowej kategori jeśli nie istnieje
		 $('.table-add').on('click', 'i', () => {
		   const $clone = $tableID.find('tbody tr').last().clone(true);
		   newCategory = $tableID.find('tr:last td:first').text();
		   if ((newCategory !== 'Nowa Kategoria')) {
			 $('#table table tbody').append($newCategory);
			 newCategory = $tableID.find('tr:last td:first').text();
			 //$contents = $('#table table tbody tr:last td:first').html();
			 $('.table-add').find('a').hide();
			 $tableID.find('tr:last .table-up').hide();
			 $tableID.find('tr:last .table-down').hide();

		   }
		 });

		//Zapisanie danych z dowolnej komórki
		$tableID.on('click','tbody tr td',function() {
			$activeCellContent = $(this).html();
			$activeCellCollumnNumber = $(this).index();
			if ($activeCellCollumnNumber==1) {
					$activeCategoryContent = $(this).parents('tr').find('td:first').html();
				};
		});

		//Zmiana Danych	w dowolnej komórce	
		$tableID.on('blur','tbody tr td',function() {
			if ($activeCellContent!=$(this).html()){

				//jeżeli strzałka w górę jest ukryta znaczy, że to jest zmiana nowej kategorii
				if ($(this).parents('tr').find('td:nth-child(3) .table-up').is(":hidden")) 
				{
					$maxLimit = ($(this).parents('tr').find('td:nth-child(2)').html());
					$newCategoryName = $(this).html();
					$.ajax({
						type: 'POST',
						url: '/Settings/addIncomeCategory',
						data: {
							categoryName: $newCategoryName,
							max: $maxLimit
							},
						success: function(res, msg) {
						  res = $.parseJSON(res);
						  if (res.isCategoryDoubled) {
							$tableID.find('tr:last td:first').text("Nowa Kategoria");
							$("#feedback").text(res.message).addClass('alert-danger').removeClass('alert-success');;
						  }
						  else
						  {
							$("#feedback").text(res.message).addClass('alert-success').removeClass('alert-danger');
							$('.table-add').find('a').show();
							$tableID.find('tr:last .table-up').show();
							$tableID.find('tr:last .table-down').show();
						  };
						},
						error : function() {
							console.log("Wystąpił błąd z połączeniem");
						}
					}); 				
				};
				
				
				//jeżeli strzałka w górę jest widoczna oznacza to zmianę kategori różnej od "Nowa Kategoria"
				if ($(this).parents('tr').find('td:nth-child(3) .table-up').is(":visible")) 
				{
					//zmiana w kolumnie katerogii
						if ($activeCellCollumnNumber==0) {
							$maxLimit = ($(this).parents('tr').find('td:nth-child(2)').html());	
							$newCategoryName = ($(this).parents('tr').find('td:nth-child(1)').html());
							$oldCategoryName = $activeCellContent;
						};
					//zmiana w kolumnie limitów	
						if ($activeCellCollumnNumber==1) {
							$maxLimit = ($(this).parents('tr').find('td:nth-child(2)').html());
							$newCategoryName = $activeCategoryContent;
							$oldCategoryName = $activeCategoryContent;
						};

					$.ajax({
						type: 'POST',
						url: '/Settings/updateIncomeCategory',
						data: {
							newCategoryName: $newCategoryName,
							oldCategoryName: $oldCategoryName,
							max: $maxLimit
							},
						success: function(res, msg) {
						  res = $.parseJSON(res);
						  if (res.isCategoryDoubled) {
							$tableID.find('tr:last td:first').text("Nowa Kategoria");
							$("#feedback").text(res.message).addClass('alert-danger').removeClass('alert-success');;
						  }
						  else
						  {
							$("#feedback").text(res.message).addClass('alert-success').removeClass('alert-danger');
							$('.table-add').find('a').show();
							$tableID.find('tr:last .table-up').show();
							$tableID.find('tr:last .table-down').show();
						  };
						},
						error : function() {
							console.log("Wystąpił błąd z połączeniem");
						}
					}); 				
				};
				

				

				
			}
		});

		//usuwanie linijki
		 $tableID.on('click', '.table-remove', function () {
			$category = $(this).parents('tr').find('td:first-child').html();
			$(this).parents('tr').detach();
			
				 $.ajax({
					type: 'POST',
					url: '/Settings/removeIncomeCategory',
					data: {category: $category},
					success: function(msg) {

					}
				  });
			});
		
		 

		//przesuwanie kategori do góry
		 $tableID.on('click', '.table-up', function () {
		   const $row = $(this).parents('tr');
		   if ($row.index() === 0) {
			 return;
		   }
		   $row.prev().before($row.get(0));
		 });

		//przesuwanie kategorii w dół
		 $tableID.on('click', '.table-down', function () {

		   const $row = $(this).parents('tr');
		   $row.next().after($row.get(0));
		 });

		 // A few jQuery helpers for exporting only
		 jQuery.fn.pop = [].pop;
		 jQuery.fn.shift = [].shift;

		 $BTN.on('click', () => {

		   const $rows = $tableID.find('tr:not(:hidden)');
		   const headers = [];
		   const data = [];

		   // Get the headers (add special header logic here)
		   $($rows.shift()).find('th:not(:empty)').each(function () {

			 headers.push($(this).text().toLowerCase());
		   });

		   // Turn all existing rows into a loopable array
		   $rows.each(function () {
			 const $td = $(this).find('td');
			 const h = {};

			 // Use the headers from earlier to name our hash keys
			 headers.forEach((header, i) => {

			   h[header] = $td.eq(i).text();
			 });

			 data.push(h);
		   });

		   // Output the result
		   $EXPORT.text(JSON.stringify(data));		   
		 });
		 

	</script>
	
	
	

	
	<!-- feather icons  -->
	<script>feather.replace()</script>
	<!-- End of feather icons  -->
{% endblock %}