<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	<meta name="description" content="Aplikacja do zarządzania finansami">
	<meta name="keywords" content="pieniądze, gospodarność, oszczędności">
	<meta name="author" content="Andrzej Konicki">		
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
	
	
	{% block style %}{% endblock %}
	 

	<!-- Globalny JS -->
	<script type="text/javascript" src="/js/scr_wydatki_przychody.js"></script>
	<!-- Global CSS -->
	<link rel="stylesheet" type="text/css" href="/css/index_global.css">
	
	<!-- FontAwesome CSS -->
	<script type="text/javascript" src="https://kit.fontawesome.com/9427ffaa84.js" crossorigin="anonymous"></script>
	<!--Feather Icons -->
	<script src="https://unpkg.com/feather-icons"></script>
	
	<!-- Scripts for the diaghrams-->
	<script>
			// Edit row on edit button click
		$(document).on("click", ".edit", function(){		
			$(this).parents("tr").find("td:not(:last-child)").each(function(){
				$(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
			});		
			$(this).parents("tr").find(".add, .edit").toggle();
			$(".add-new").attr("disabled", "disabled");
		});
		// Delete row on delete button click
		$(document).on("click", ".delete", function(){
			$(this).parents("tr").remove();
			$(".add-new").removeAttr("disabled");
		});
	</script>

	
</head>
<body>

	<!-- top nawigation bar-->
	<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top top-navbar">  
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="sidebarMenu">
		<span data-feather="list"></span>
	  </button>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#TopBarMenu" aria-controls="TopBarMenu" aria-expanded="false" aria-label="TopBarMenu">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  
	  <div class="collapse navbar-collapse bg-primary" id="TopBarMenu">
		<ul class="navbar-nav mr-auto">		
		  <li class="nav-item active">
			<a class="nav-link" href='/Main/showReportAllRange'><span class="navbar-text">Moje Finanse</span><span class="sr-only">(current)</span></a>
		  </li>
		  
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="applicationSettingsDropdownMenuLink" data-toggle="dropdown"
			  aria-haspopup="true" aria-expanded="false"><span class="navbar-text">Ustawienia Aplikacji</span><span class="sr-only"></span></a>
				<div class="dropdown-menu dropdown-primary bg-primary" aria-labelledby="applicationSettingsDropdownMenuLink">
				  <a class="dropdown-item bg-primary" href='/Settings/incomeCategoriesSettings'>Kategorie Przychodów</a>
				  <a class="dropdown-item bg-primary" href='/Settings/expenceCategoriesSettings'>Kategorie Wydatków</a>
				  <a class="dropdown-item bg-primary" href='/Settings/payMethodSettings'>Metody Płatności</a>
				</div>
		  </li>
		  
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="userSettingsDropdownMenuLink" data-toggle="dropdown"
			  aria-haspopup="true" aria-expanded="false"><span class="navbar-text">Ustawienia Użytkownika</span><span class="sr-only"></span></a>
				<div class="dropdown-menu dropdown-primary bg-primary" aria-labelledby="applicationSettingsDropdownMenuLink">
				  <a class="dropdown-item bg-primary" href='/Settings/changePasswordRender'>Zmiana Hasła</a>
				  <a class="dropdown-item bg-primary" href='/Settings/changeUserDataRender'>Zmiana Danych</a> 
				</div>
		  </li>
		  
		  <li class="nav-item">
			<a class="nav-link" href="/Login/Logout"><span class="navbar-text">Wyloguj</span><span class="sr-only"></span></a>
		  </li>
		</ul>
		
		{% if session.name %}
		<span class="login-information ml-auto mr-2 d-none d-lg-block">Witaj: {{ session.name }}</span>
		{% endif %}
		
	  </div>
	</nav>
	<!-- END top nawigation bar-->

    {% block body %}
    {% endblock %}
	
	<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->


</body>
</html>
