<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	<meta name="description" content="Aplikacja do zarządzania finansami">
	<meta name="keywords" content="pieniądze, gospodarność, oszczędności">
	<meta name="author" content="Andrzej Konicki">		
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
	
	
	{% block style %}{% endblock %}
	 
	<!-- Recaptcha -->
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<!-- Globalny JS -->
	<script type="text/javascript" src="/js/scr_wydatki_przychody.js"></script>
	<!-- Scripts for the diaghrams-->
	<script>
			// Edit row on edit button click
		$(document).on("click", ".edit", function(){		
			$(this).parents("tr").find("td:not(:last-child)").each(function(){
				$(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
			});		
			$(this).parents("tr").find(".add, .edit").toggle();
			$(".add-new").attr("disabled", "disabled");
		});
		// Delete row on delete button click
		$(document).on("click", ".delete", function(){
			$(this).parents("tr").remove();
			$(".add-new").removeAttr("disabled");
		});
	</script>
	<script>
		window.onload = function rysuj_wykresy_wydatkow_przychodow() {	
		var chart = new CanvasJS.Chart("chartContainer_wydatki", {
			animationEnabled: true,
			title: {
				text: "Wydatki"
			},
			subtitles: [{
				text: "Cały Okres"
			}],
			data: [{
				type: "pie",
				yValueFormatString: "#,##0.00\"%\"",
				indexLabel: "{label} ({y})",
				dataPoints: <?php echo json_encode($daneWykresuWydatkow, JSON_NUMERIC_CHECK); ?>
			}]
		});
		chart.render();
		
		var chart2 = new CanvasJS.Chart("chartContainer_przychody", {
			animationEnabled: true,
			title: {
				text: "Przychody"
			},
			subtitles: [{
				text: "Cały Okres"
			}],
			data: [{
				type: "pie",
				yValueFormatString: "#,##0.00\"%\"",
				indexLabel: "{label} ({y})",
				dataPoints: <?php echo json_encode($daneWykresuPrzychodow, JSON_NUMERIC_CHECK); ?>
			}]
		});
		chart2.render();
	 
	};
	

	</script>
	
</head>
<body>
    {% block body %}
    {% endblock %}
	
	<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
